<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
      
        <!-- Main Content-->
        <main class="mb-4">
            <div class="my-5 d-flex justify-content-center">
                <div class="card bg-light rounded shadow" style="width: 70vw;">
                    <div class="card-header bg-success text-white text-center">
                        <h2>Login Admin</h2>
                    </div>
                   
                    <div class="card-body">
                        <div >
                            <% if(errors){ %>
                            <ul class="list-group">
                                <% for (var i = 0; i < errors.length; i++) { %>
                                <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                                <% } %>
                            </ul>
                            <% } %>
                        </div>
                            <form action="/adminFlights" id="login" method="POST "data-sb-form-api-token="API_TOKEN" style="width:70vw ;margin-left:auto; margin-right:auto;" >
                            
                    
                                <div >
                                    <label for="password">Enter Your Password</label>
                                    <input class="form-control" id="password" name="password"type="password" placeholder="Enter your password" data-sb-validations="required" />
                                    
                                    <div class="invalid-feedback" data-sb-feedback="password:required">Enter your password</div>
                                </div>
                              
                                
                                <br />
                                
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success"
                                        id="sendMessageButton">SUBMIT</button>
                                        
                                </div>
                               
                            </form>
                            
                           </div>
                           </div>
                           </div>
                           </main>
                             
        
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
