<!DOCTYPE html>
<html lang="en">
   <%- include('layouts/header'); -%>
  <head><link href="/css/main.css" type="text/css" rel="stylesheet" /> </head>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <!-- <header class="masthead" style="background-color:rgb(58, 61, 61)">
           
        </header> -->
       
         
        </label>
        <article>
            <div class="col-lg-8 col-md-10 mx-auto">
                <% if(errors != null && errors.length > 0){ %>
                <ul class="list-group"></ul>
                <% for (var i = 0; i < errors.length; i++) { %>
                <li class="list-group-item list-group-item-danger"><%=
                errors[i] %></li>
                <% } %>
                </ul>
                <% } %>
            </div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-success text-white text-center">
                            <h2>Add Flights</h2>
                        </div>
                        <div class="card-body">
                            <div class="radio">
                           <div class="row">
                           
                                 </div>
                                 <form action= "/addflight " id="addflights" method="POST" data-sb-form-api-token="API_TOKEN" style="width:80% ;margin-left:auto; margin-right:auto;" >
                                
                                <div class="mb-3">
                                    <!-- <label for="destination" class="form-label">Destination City</label> -->
                                    <input class="form-control" id="flightNumber" name="flightNumber" type="text" placeholder="Flight Number" value="<%= flightNumber %>"  />
                                </div>
                            
                                <div class="mb-3">
                                    <!-- <label for="departureDate" class="form-label">Departure Date</label> -->
                                    <input class="form-control" id="flightName" name="flightName" type="text" placeholder="Flight Name"value="<%= flightName %>"  />
                                </div>
                                <div class="mb-3">
                                    <select class="form-control" id="departure" name="origin" data-sb-validations="origin:required">
                                        <option value="" disabled selected>Origin</option>
                                        <option value="jfk">John F. Kennedy International Airport (USA)</option>
                                        <option value="lhr">London Heathrow Airport (UK)</option>
                                        <option value="cdg">Charles de Gaulle Airport (France)</option>
                                        <option value="hnd">Tokyo Haneda Airport (Japan)</option>
                                        <option value="syd">Sydney Kingsford Smith Airport (Australia)</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select class="form-control" id="destination" name="destination" data-sb-validations="destination:required">
                                        <option value="" disabled selected>Destination</option>
                                        <option value="jfk">John F. Kennedy International Airport (USA)</option>
                                        <option value="lhr">London Heathrow Airport (UK)</option>
                                        <option value="cdg">Charles de Gaulle Airport (France)</option>
                                        <option value="hnd">Tokyo Haneda Airport (Japan)</option>
                                        <option value="syd">Sydney Kingsford Smith Airport (Australia)</option>
                                    </select>
                                </div>
                             
                                <div class="mb-3">
                                    <!-- <label for="passengers" class="form-label">Number of Passengers</label> -->
                                    <input class="form-control" id="departureDate" name="departureDate" type="datetime-local" placeholder="departureDate" value="<%= departureDate %>" />
                                </div>
                              
                                
                                <div class="mb-3">
                                    <!-- <label for="passengers" class="form-label">Number of Passengers</label> -->
                                    <input class="form-control" id="arrivalDate" name="arrivalDate" type="datetime-local" placeholder="arrivalDate" value="<%= arrivalDate %>"  />
                                </div>
                               
                                <div class="mb-3">
                                   
                                    
                                    <select name="status" id="status" class="form-control">
                                            <option value="scheduled">scheduled</option>
                                             <option value="delayed">delayed</option>
                                            <option value="cancelled">cancelled</option>
                                            <option value="completed">completed</option>
                                    </select>
                                        
                                     </div>
                                <button type="submit" class="btn btn-success w-100">Add Flight</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </article>
        <!-- Footer-->
       <!-- <%- include('layouts/footer'); -%> -->
        <%- include('layouts/scripts'); -%>
    </body>
</html>



