<!DOCTYPE html>
<html lang="en">
   <%- include('layouts/header'); -%>
  <head><link href="/css/main.css" type="text/css" rel="stylesheet" /> </head>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <!-- <header class="masthead" style="background-color:rgb(58, 61, 61)">
           
        </header> -->
       
         
        </label>
        <article>
          
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-success text-white text-center">
                            <h2>Add Flights</h2>
                        </div>
                        <div class="card-body">
                            <div class="radio">
                           <div class="row">
                            <h1>Available Flights</h1>
    <ul>
        <% flights.forEach(flight => { %>
            <li><%= flight.flightName %> - <%= flight.flightNumber %> from <%= flight.origin %> to <%= flight.destination %> on <%= flight.departureDate.toDateString() %></li>
        <% }) %>
    </ul>
                                 </div>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </article>
        <!-- Footer-->
       <!-- <%- include('layouts/footer'); -%> -->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
