<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body style="background-color: #f8f9fa;">
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <!-- User Information Card -->
                        <div class="card shadow-sm mb-4">
                            <div class="card-header bg-success text-white text-center">
                                <h2>My Account</h2>
                            </div>
                            <div class="card-body">
                                <h3>User Information</h3>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Username:</strong> <%= userName %></li>
                                    <li class="list-group-item"><strong>First Name:</strong> <%= fname %></li>
                                    <li class="list-group-item"><strong>Last Name:</strong> <%= lname %></li>
                                    <li class="list-group-item"><strong>Email:</strong> <%= email %></li>
                                    <li class="list-group-item"><strong>Phone Number:</strong> <%= phone %></li>
                                    <li class="list-group-item"><strong>Street:</strong> <%= street %></li>
                                    <li class="list-group-item"><strong>City:</strong> <%= city %></li>
                                    <li class="list-group-item"><strong>State:</strong> <%= state %></li>
                                    <li class="list-group-item"><strong>Zip:</strong> <%= zip %></li>
                                    <li class="list-group-item"><strong>Country:</strong> <%= country %></li>
                                    <li class="list-group-item"><strong>Date Of Birth:</strong> <%= dateOfBirth %></li>
                                    <li class="list-group-item"><strong>Passport Number:</strong> <%= passportNumber %></li>
                                </ul>
                                <div class="text-center mt-4">
                                    <a href="/updateUserPage" class="btn btn-primary">Update Information</a>
                                </div>
                            </div>
                        </div>
                        
                        <!-- User Bookings Card -->
                  
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
